<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2><%=image_tag dado.foto.to_s, size: "270"=%></h2>
			<p>Título:<%= dado.titulo %><br /> Recompensa: <%= dado.recompensa%> <br /> Descrição: <%= dado.descricao %> </p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>
</div>