<footer class="footer col-md-12 bg-primary">

  <div class="col-md-6">
    <h5>Sistema de Achados e Perdidos do Campus Osório</h5>
    <b>INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA DO RIO GRANDE DO SUL - CAMPUS OSÓRIO</b>
    <br><a style="font-weight: bold; color: #FFF;" target="_blank" href="https://goo.gl/maps/Mxwx7YUb3732">Rua Santos Dumont, 2127 - Albatroz - Osório / RS (95520-000)</a>
    <br>E-mail: <a style="font-weight: bold; color: #FFF;" target="_blank" href="mailto:dti@osorio.ifrs.edu.br">dti@osorio.ifrs.edu.br</a>
  </div>
  <div class="col-md-4">
    <h5>
      Desenvolvimento
    </h5>
    <img style="width: 20%;" src="https://sistrac.osorio.ifrs.edu.br/assets/Logo_vertical-4a41d07311928fad4a3732b7b9104f3f7c3753dda60c70a0b9d1434caadee5c6.gif" alt="Logo vertical">
  </div>

  
  
</footer>